@tailwind base;
@tailwind components;
@tailwind utilities;

/* 불릿포인트 레벨별 스타일 */
.prose ul {
  list-style-type: disc;
}

.prose ul ul {
  list-style-type: circle;
}

.prose ul ul ul {
  list-style-type: square;
}

/* 중첩된 리스트의 간격 조정 */
.prose ul li {
  margin-bottom: 0.5rem;
}

.prose ul ul li {
  margin-bottom: 0.25rem;
}

/* 중첩된 리스트의 마진 조정 */
.prose ul ul {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

html {
	font-family: 'Noto Sans KR', system-ui, sans-serif;
	scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* 헤더 높이만큼 여백 추가 */
}

body {
    margin: 0;
	padding: 0;
	background-color: #fff; /* 라이트 모드 기본 배경색 */
    color: #1f2937; /* 라이트 모드 기본 글자색 */
}

.dark body {
    background-color: #111827; /* 다크 모드 기본 배경색 */
    color: #e5e7eb; /* 다크 모드 기본 글자색 */
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/29645ac4798959bd7b2addfaeff442ca1d982992/templates/styles/blog/default.css
  License: MIT
  https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}